*.DS_STORE
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtcl
*.nav
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
*.htaccess
*.svn/
