body {
	font-family: sans-serif;
	background-color: black;
}
#language {
   	z-index: 9999;
	float:right;
	position: fixed;
	top: .5em;
	right: .5em;
}
#nav {
	z-index: 9999;
	float: left;
	position: fixed;
	border: 2px solid blue;
	background-color: rgba(255,255,255,.55);
	top: 10em;
	left: 1em;
	width: 10em;
	margin-right: 2em;
}
#nav>ul {
	list-style: square;
}
#container {
	color: black;
	background-color: rgba(255,255,255,.55);
	margin: 30px auto 0;
	width: 42em;
	position: relative;
    border: 2px solid blue;
}
#container>h1 {
	color: black;
    padding-top: 1em;
	font-weight: normal;
	font-family: arial, serif;
    font-size: 27px;
	text-align: center;
}
#contactInfo {
	text-align: center;
	color: #000;
	margin-bottom: .5em;
}
#contactInfo>a {
	text-decoration: none;
	color: #00F;
}
#contactInfo>a:hover {
	text-decoration: underline;
}
#badges {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}
table {
	margin: 0 auto;
	border-collapse: collapse;
}
thead tr th {
	border-bottom: 1px solid #CCC;
}
tbody th {
	text-align: right;
	padding-right: 1em;
}
ul.compact {
	margin: 1em auto 1em;
	padding: 0;
	text-align: center;
	font-size: 80%;
	width: 70%;
}
ul.compact li {
	list-style-type: none;
	margin: 0;
	padding: 0 0.5em;
	display: inline;
}
